@import "src/assets/scss/mixins";

.authorization {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

aside {
  max-width: 654px;
  display: flex;
  align-items: center;
  background: $asideBackground;

  app-logo {
    margin: 0 130.5px;
  }
}
