@import "src/assets/scss/mixins";

.experience-card {
  color: $nobel;

  &__header {
    display: flex;
    align-items: center;

    h2 {
      @include setFontParams($fontWorkSans, normal, 500, $titleLineHeight);
      font-size: $titleFontSize;
      color: $white;
      text-transform: uppercase;
      display: inline-flex;
      margin: 0;
    }

    span {
      @include setFontParams($fontWorkSans, normal, 300, $textLineHeight);
      font-size: 12px;
      margin-left: 20px;
    }
  }

  &__description {
    p {
      @include setFontParams($fontWorkSans, normal, 400, $subTitleLineHeight);
      font-size: 16px;
    }
  }

  border-bottom: 1px solid $tundora;
}
