@import "src/assets/scss/mixins";

button.btn {
  @include setFontParams($fontRaleway, 500, bold, $textLineHeight);
  text-align: center;
  cursor: pointer;
  transition: 0.5s all ease;

  // standart
  &__big,
  &__medium,
  &__small-fill {
    text-transform: uppercase;
    color: $white;
    background: $crimson;
    border: none;
    border-radius: 50px;
  }

  &__small {
    line-height: $smallButtonLineHeight;
    padding: 10px 60px;
    color: $redRibbon;
    border: 1px solid $redRibbon;
    background: transparent;
    border-radius: 50px;
    font-weight: 500;
  }

  &__small:hover {
    color: $cardinal;
    border-color: $cardinal;
  }

  &__small-fill, &__small {
    font-size: $smallButtonFontSize;
  }

  &__close-small, &__close {
    border: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("/assets/img/close.svg") center center no-repeat;
    background-size: contain;
  }

  &__close {
    width: 20px;
    height: 20px;
  }

  &__small-empty {
    text-transform: uppercase;
  }

  &__small-empty, &__small-empty-border {
    background: transparent;
    color: $redRibbon;
    border: 1px solid transparent;
    font-size: 14px;
    border-radius: 34px;
    padding: 20px 30px;
  }

  &__small-empty-border {
    border: 1px solid $crimson;
  }

  &__big:hover,
  &__medium:hover,
  &__small-fill:hover {
    background: $cardinal;
  }

  &__small-empty:hover, &__small-empty-border:hover {
    color: $cardinal;
  }

  &__small-empty-border:hover {
    border-color: $cardinal;
  }

  &__big[disabled],
  &__medium[disabled],
  &__small-fill[disabled] {
    background: $gray;
  }

  &__big {
    font-weight: 700;
    padding: $bigButtonPadding;
    @include setButtonSize($bigButtonLineHeight, $bigButtonFontSize);
  }

  &__medium {
    padding: $mediumButtonPadding;
    @include setButtonSize($mediumButtonLineHeight, $mediumButtonFontSize);
  }

  &__small-fill {
    padding: $smallButtonPadding;
    @include setButtonSize($smallButtonLineHeight, $smallButtonFontSize);
  }

  &__small-empty {
    @include setButtonSize($smallButtonLineHeight, $smallButtonFontSize);
  }

  // button (login, sign up)
  &__login, &__sign-up {
    background: transparent;
    font-weight: 400;
  }

  &__sign-up, &__login {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__login {
    border: none;
    @include setButtonSize($mediumButtonLineHeight, $bigButtonFontSize);
    color: $creamCan;
  }

  &__sign-up {
    max-width: 214px;
    padding: 0 50px;
    border: none;
    -webkit-box-shadow: inset 0px 0px 0px 2px $creamCan;
    box-shadow: inset 0px 0px 0px 2px $creamCan;
    border-radius: 50px;
    color: $creamCan;
    transition: 0.5s all ease;
    @include setButtonSize($mediumButtonLineHeight, $bigButtonFontSize);
  }

  &__sign-up:hover {
    -webkit-box-shadow: inset 0px 0px 0px 4px $creamCan;
    box-shadow: inset 0px 0px 0px 4px $creamCan;
  }

  // Personal Room
  &__gradient {
    @include setButtonSize($smallButtonLineHeight, $mediumButtonFontSize);
    text-transform: uppercase;
    width: 100%;
    border: none;
    padding: 13px 43px;
    background: $goldTextGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__add,
  &__close-fill,
  &__edit,
  &__edit-empty,
  &__delete,
  &__delete-empty,
  &__download {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
  }

  &__close-fill {
    img {
      transform: rotate(45deg);
    }
  }

  &__add, &__edit, &__close-fill {
    background: $white;
    width: 30px;
    height: 30px;
  }

  &__download {
    background: $redRibbon;
    width: 34px;
    height: 34px;
  }

  &__edit-empty, &__delete-empty {
    width: 21px;
    height: 21px;
  }

  &__delete, &__delete-empty {
    background: transparent;
  }

}

.icon-button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  .first {
    margin-right: 10px;
  }
}

.gradient-button {
  display: inline-flex;
  background: linear-gradient($codGray, $codGray) padding-box,
  $goldGradient border-box;
  border: 1px solid transparent;
  overflow: hidden;
  border-radius: 60px;
}

a.link {
  &__login:hover {
    text-decoration-color: $creamCan !important;
    text-decoration: underline;
  }
}
