@import "src/assets/scss/mixins";

button.btn {
  @include setFontParams($fontRaleway, 500, bold, 18px);
  text-align: center;
  cursor: pointer;
  transition: 0.5s all ease;

  // standart
  &__big,
  &__medium,
  &__small {
    text-transform: uppercase;
    color: $white;
    background: $crimson;
    border: none;
    border-radius: 50px;
  }

  &__small {
    font-size: 14px;
  }

  &__close-small, &__close {
    border: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("/assets/img/close.svg") center center no-repeat;
    background-size: contain;
  }

  &__close{
    width: 20px;
    height: 20px;
  }

  &__small-empty, &__small-empty-border {
    text-transform: uppercase;
    background: transparent;
    color: $redRibbon;
    border: none;
    font-size: 14px;
  }

  &__small-empty-border {
   border: 1px solid $crimson;
    border-radius: 34px;
    padding: 21px 30px;
  }

  &__big:hover,
  &__medium:hover,
  &__small:hover {
    background: $cardinal;
  }

  &__small-empty:hover, &__small-empty-border:hover {
    color: $cardinal;
    border-color: $cardinal;
  }

  &__big[disabled],
  &__medium[disabled],
  &__small[disabled] {
    background: $gray;
  }

  &__big {
    font-weight: 700;
    @include setButtonSize(352px, 75px, 22px);
  }

  &__medium {
    @include setButtonSize(214px, 55px, 16px);
  }

  &__small {
    @include setButtonSize(141px, 38px, 14px);
  }

  &__small-empty {
    @include setButtonSize(100px, 38px, 14px);
  }

  // button (login, sign up)
  &__login, &__sign-up {
    background: transparent;
    font-weight: 400;
  }

  &__login {
    border: none;
    @include setButtonSize(auto, 55px, 24px);
    background: $goldTextGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__sign-up {
    border: none;
    background: $goldTextGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include setButtonSize(214px, 55px, 24px);
  }
}

// link
a.link {
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.3s all ease;

  &__sign-up, &__login {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__sign-up {
    max-width: 214px;
    background: linear-gradient($codGray, $codGray) padding-box,
    $goldGradient border-box;
    border: 1px solid transparent;

    //box-shadow: inset 0 0 0 1px #E07504,
    //            inset 0 0 0 1px #E07504,
    //            inset 0 0 0 1px #FBDF15,
    //            inset 0 0 0 1px #FFFFFF;
    border-radius: 50px;
    transition: 0.5s all ease;
  }

  &__sign-up:hover {
    border-width: 4px;

    transition: 0.5s all ease;
    //box-shadow: inset 0 0 0 4px #E07504,
    //            inset 0 0 0 4px #E07504,
    //            inset 0 0 0 4px #FBDF15,
    //            inset 0 0 0 4px #FFFFFF;
  }

  &__login:hover {
    display: inline;
    text-decoration: none;
    background-image: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), $goldTextGradient;
    background-repeat: no-repeat;
    background-position: 120%, 122%, 0 150%;
    background-size: 100% 6px;
  }
}
