@import "src/assets/scss/mixins";

h2.stepper-title{
  @include setFontParams($fontTitle, normal, 700, 75px);
  font-size: 50px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
}

::ng-deep {
  mat-horizontal-stepper {
    max-width: 769px;
    margin: 0 auto;
  }

  .mat-step-header {
    padding: 0 !important;
  }

  .mat-stepper-horizontal-line {
    background: $horizontalLineColor;
    border-top-width: 2px !important;
  }

  .mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: transparent;

    mat-step-header .mat-step-label {
      position: absolute;
      top: 60px;
      left: -30px;
      text-transform: uppercase;
      @include setFontParams($fontFamily, normal, 400, 16px);
      font-size: 14px;
      color: $stepLabelColor;
    }

    mat-step-header .mat-step-label.mat-step-label-active {
      background: $textGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
    }

    mat-step-header .mat-step-icon {
      background: transparent;
    }

    mat-step-header .mat-step-icon.mat-step-icon-state-done,
    mat-step-header .mat-step-icon.mat-step-icon-selected,
    mat-step-header .mat-step-icon.mat-step-icon-state-edit{
      background: $stepIconContentBackground;
    }

    mat-step-header .mat-step-icon-content {
      border: 5px solid $stepIconContentColor;
      background: $stepIconContentBackground;
      border-radius: 50%;
      font-size: 0;
      width: 8px;
      height: 8px;

      mat-icon {
        display: none;
      }
    }

    .mat-horizontal-stepper-header-container {
      margin-bottom: 115px;
    }

    .mat-horizontal-stepper-header-container mat-step-header:first-child {
      margin-left: 30px;
    }

    .mat-horizontal-stepper-header, .mat-step-header {
      overflow: visible;
    }

    .mat-horizontal-content-container {
      padding: 0;
    }

  }
}

form {
  width: 769px;
  max-width: 769px;

  .form-item {
    width: 99%;
    margin-bottom: 33px;
    display: flex;
    justify-content: center;

    app-select,
    app-search-input,
    app-chips,
    app-experience,
    app-input{
      width: 100%;
    }
    app-input.money{
      width: auto;
    }
  }

  .form-item:nth-child(2) {
    margin-bottom: 82px;
  }

  .form-item:last-child {
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
  }

  .form-item.money{
    margin-top: 140px;
    border-bottom: 1px solid $addModalBodyBorderBottomColor;
  }
}
