<!--========================================Freelancer==========================================================-->

<mat-horizontal-stepper linear #stepper *ngIf="userRole === EStepperType.Freelancer"
                        (keydown.enter)="$event.preventDefault()">
  <mat-step [stepControl]="freelancerGroupLinks.firstGroup">
    <form [formGroup]="freelancerGroupLinks.firstGroup">
      <ng-template matStepLabel>work field</ng-template>
      <div class="form-item">
        <app-select
          formControlName="category"
          [selectParameters]="stepperConfig[EStepperType.Freelancer].selects.category">
        </app-select>
<!--        <div class="item-error">-->
<!--          <span-->
<!--            *ngIf="freelancerGroupLinks.firstGroup.invalid">-->
<!--            Please, enter required data-->
<!--          </span>-->
<!--        </div>-->
      </div>
      <div class="form-item">
        <app-select
          [subCategory]="subCategory"
          formControlName="subcategory"
          [selectParameters]="stepperConfig[EStepperType.Freelancer].selects.subcategory">
        </app-select>
      </div>
      <div class="form-item">
        <app-button (click)="stepper.next()"
                    [buttonParameters]="stepperConfig[EStepperType.Freelancer].buttons.next"></app-button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="freelancerGroupLinks.secondGroup">
    <form [formGroup]="freelancerGroupLinks.secondGroup">
      <ng-template matStepLabel>hard Skills</ng-template>
      <div class="form-item">
        <app-chips formControlName="skills"></app-chips>
      </div>
      <div class="form-item">
        <app-button (click)="stepper.previous()"
                    [buttonParameters]="stepperConfig[EStepperType.Freelancer].buttons.previous"></app-button>
        <app-button (click)="stepper.next()"
                    [buttonParameters]="stepperConfig[EStepperType.Freelancer].buttons.next"></app-button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="freelancerGroupLinks.thirdGroup">
    <form [formGroup]="freelancerGroupLinks.thirdGroup">
      <ng-template matStepLabel>experience</ng-template>
      <div class="form-item">
        <app-progress formControlName="experiences"></app-progress>
      </div>
      <div class="form-item">
        <app-button (click)="stepper.previous()"
                    [buttonParameters]="stepperConfig[EStepperType.Freelancer].buttons.previous"></app-button>
        <app-button (click)="stepper.next()"
                    [buttonParameters]="stepperConfig[EStepperType.Freelancer].buttons.next"></app-button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="freelancerGroupLinks.fourthGroup">
    <form [formGroup]="freelancerGroupLinks.fourthGroup">
      <ng-template matStepLabel>description</ng-template>
      <div class="form-item">
        <app-input
          [control]="freelancerGroupLinks.fourthGroup.controls.description"
          formControlName="description"
          [inputParameters]="stepperConfig[EStepperType.Freelancer].inputs.description">
        </app-input>
      </div>
      <div class="form-item">
        <app-button (click)="stepper.previous()"
                    [buttonParameters]="stepperConfig[EStepperType.Freelancer].buttons.previous"></app-button>
        <app-button (click)="stepper.next()"
                    [buttonParameters]="stepperConfig[EStepperType.Freelancer].buttons.next"></app-button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="freelancerGroupLinks.fifthGroup">
    <form [formGroup]="freelancerGroupLinks.fifthGroup">
      <ng-template matStepLabel>hourly rate</ng-template>
      <div class="form-item">
        <app-input class="money"
                   [control]="freelancerGroupLinks.fifthGroup.controls.rate"
                   formControlName="rate"
                   [inputParameters]="stepperConfig[EStepperType.Freelancer].inputs.money">
        </app-input>
      </div>
      <div class="form-item money">

      </div>
      <div class="form-item">
        <app-button (click)="stepper.previous()"
                    [buttonParameters]="stepperConfig[EStepperType.Freelancer].buttons.previous"></app-button>
        <app-button [buttonParameters]="stepperConfig[EStepperType.Freelancer].buttons.send"
                    (click)="signUpFreelancer()"></app-button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>

<!--========================================Product owner==========================================================-->

<mat-horizontal-stepper linear #stepper *ngIf="userRole === EStepperType.ProductOwner">
  <mat-step [stepControl]="productOwnerGroupLinks.firstGroup">
    <form [formGroup]="productOwnerGroupLinks.firstGroup">
      <ng-template matStepLabel>Company name</ng-template>
      <div class="form-item">
        <app-input
          [control]="productOwnerGroupLinks.firstGroup.controls.name"
          formControlName="name"
          [inputParameters]="stepperConfig[EStepperType.ProductOwner].inputs.companyName">
        </app-input>
      </div>
      <div class="form-item">
        <app-input
          [control]="productOwnerGroupLinks.firstGroup.controls.description"
          formControlName="description"
          [inputParameters]="stepperConfig[EStepperType.ProductOwner].inputs.description">
        </app-input>
      </div>
      <div class="form-item">
        <app-button
          (click)="stepper.next()"
          [buttonParameters]="stepperConfig[EStepperType.ProductOwner].buttons.next">
        </app-button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="productOwnerGroupLinks.secondGroup">
    <form [formGroup]="productOwnerGroupLinks.secondGroup">
      <ng-template matStepLabel>work field</ng-template>
      <div class="form-item">
        <app-select
          formControlName="category"
          [selectParameters]="stepperConfig[EStepperType.ProductOwner].selects.category">
        </app-select>
      </div>
      <div class="form-item"></div>
      <div class="form-item">
        <app-button (click)="stepper.previous()"
                    [buttonParameters]="stepperConfig[EStepperType.ProductOwner].buttons.previous"></app-button>
        <app-button (click)="stepper.next()"
                    [buttonParameters]="stepperConfig[EStepperType.ProductOwner].buttons.next"></app-button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="productOwnerGroupLinks.thirdGroup">
    <form [formGroup]="productOwnerGroupLinks.thirdGroup">
      <ng-template matStepLabel>location</ng-template>
      <div class="form-item">
        <app-select
          formControlName="location"
          [selectParameters]="stepperConfig[EStepperType.ProductOwner].selects.location">
        </app-select>
      </div>
      <div class="form-item"></div>
      <div class="form-item">
        <app-button (click)="stepper.previous()"
                    [buttonParameters]="stepperConfig[EStepperType.ProductOwner].buttons.previous"></app-button>
        <app-button (click)="stepper.next()"
                    [buttonParameters]="stepperConfig[EStepperType.ProductOwner].buttons.next"></app-button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="productOwnerGroupLinks.fourthGroup">
    <form [formGroup]="productOwnerGroupLinks.fourthGroup">
      <ng-template matStepLabel>operation mode</ng-template>
      <div class="form-item">
        <app-select
          formControlName="operationMode"
          [selectParameters]="stepperConfig[EStepperType.ProductOwner].selects.operationMode">
        </app-select>
      </div>
      <div class="form-item"></div>
      <div class="form-item">
        <app-button (click)="stepper.previous()"
                    [buttonParameters]="stepperConfig[EStepperType.ProductOwner].buttons.previous"></app-button>
        <app-button [buttonParameters]="stepperConfig[EStepperType.ProductOwner].buttons.send"
                    (click)="signUpProductOwner()"></app-button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
