<!--========================================Freelancer==========================================================-->
<!--<h2 class="stepper-title">{{ declension[step] }} STAGE</h2>-->
<mat-horizontal-stepper linear #stepper *ngIf="(stepperParameters$ | ngrxPush).type === EStepperType.Freelancer"
(keydown.enter)="$event.preventDefault()">
  <mat-step [stepControl]="freelancerGroupLinks.firstGroup">
    <form [formGroup]="freelancerGroupLinks.firstGroup">
      <ng-template matStepLabel>work field</ng-template>
      <div class="form-item">
        <app-select formControlName="category" [selectParameters]="(stepperParameters$ | ngrxPush).selects.category"></app-select>
      </div>
      <div class="form-item">
        <app-select formControlName="subcategory" [selectParameters]="(stepperParameters$ | ngrxPush).selects.subcategory"></app-select>
      </div>
      <div class="form-item">
        <app-button (click)="stepper.next()" [buttonParameters]="(stepperParameters$ | ngrxPush).buttons.next"></app-button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="freelancerGroupLinks.secondGroup">
    <form [formGroup]="freelancerGroupLinks.secondGroup">
      <ng-template matStepLabel>hard Skills</ng-template>
      <div class="form-item">
        <app-chips formControlName="skills"></app-chips>
      </div>
      <div class="form-item">
        <app-button (click)="stepper.previous()" [buttonParameters]="(stepperParameters$ | ngrxPush).buttons.previous"></app-button>
        <app-button (click)="stepper.next()" [buttonParameters]="(stepperParameters$ | ngrxPush).buttons.next"></app-button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="freelancerGroupLinks.thirdGroup">
    <form [formGroup]="freelancerGroupLinks.thirdGroup">
      <ng-template matStepLabel>experience</ng-template>
      <div class="form-item">
        <app-experience formControlName="experience"></app-experience>
      </div>
      <div class="form-item">
        <app-button (click)="stepper.previous()" [buttonParameters]="(stepperParameters$ | ngrxPush).buttons.previous"></app-button>
        <app-button (click)="stepper.next()" [buttonParameters]="(stepperParameters$ | ngrxPush).buttons.next"></app-button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="freelancerGroupLinks.fourthGroup">
    <form [formGroup]="freelancerGroupLinks.fourthGroup">
      <ng-template matStepLabel>hourly rate</ng-template>
      <div class="form-item">
        <app-input class="money" formControlName="rate" [inputParameters]="(stepperParameters$ | ngrxPush).inputs.money"></app-input>
      </div>
      <div class="form-item money">

      </div>
      <div class="form-item">
        <app-button (click)="stepper.previous()" [buttonParameters]="(stepperParameters$ | ngrxPush).buttons.previous"></app-button>
        <app-button [buttonParameters]="(stepperParameters$ | ngrxPush).buttons.send"
                    (click)="sendUserSignUpData()"></app-button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>

<!--========================================Product owner==========================================================-->

<mat-horizontal-stepper linear #stepper *ngIf="(stepperParameters$ | ngrxPush).type === EStepperType.ProductOwner">
  <mat-step [stepControl]="productOwnerFormsGroupLinks.firstGroup">
    <form [formGroup]="productOwnerFormsGroupLinks.firstGroup">
      <ng-template matStepLabel>Company name</ng-template>
      <div class="form-item">
        <app-input
          formControlName="companyName"
          [inputParameters]="(stepperParameters$ | ngrxPush).inputs.companyName">
        </app-input>
      </div>
      <div class="form-item">
        <app-input
          formControlName="companyDescription"
          [inputParameters]="(stepperParameters$ | ngrxPush).inputs.description">
        </app-input>
      </div>
      <div class="form-item">
        <app-button
          (click)="stepper.next()"
          [buttonParameters]="(stepperParameters$ | ngrxPush).buttons.next">
        </app-button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="productOwnerFormsGroupLinks.secondGroup">
    <form [formGroup]="productOwnerFormsGroupLinks.secondGroup">
      <ng-template matStepLabel>work field</ng-template>
      <div class="form-item">
        <app-select
          formControlName="category"
          [selectParameters]="(stepperParameters$ | ngrxPush).selects.category">
        </app-select>
      </div>
      <div class="form-item"></div>
      <div class="form-item">
        <app-button (click)="stepper.previous()" [buttonParameters]="(stepperParameters$ | ngrxPush).buttons.previous"></app-button>
        <app-button (click)="stepper.next()" [buttonParameters]="(stepperParameters$ | ngrxPush).buttons.next"></app-button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="productOwnerFormsGroupLinks.thirdGroup">
    <form [formGroup]="productOwnerFormsGroupLinks.thirdGroup">
      <ng-template matStepLabel>location</ng-template>
      <div class="form-item">
        <app-select
          formControlName="location"
          [selectParameters]="(stepperParameters$ | ngrxPush).selects.location">
        </app-select>
      </div>
      <div class="form-item"></div>
      <div class="form-item">
        <app-button (click)="stepper.previous()" [buttonParameters]="(stepperParameters$ | ngrxPush).buttons.previous"></app-button>
        <app-button (click)="stepper.next()" [buttonParameters]="(stepperParameters$ | ngrxPush).buttons.next"></app-button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="productOwnerFormsGroupLinks.fourthGroup">
    <form [formGroup]="productOwnerFormsGroupLinks.fourthGroup">
      <ng-template matStepLabel>operation mode</ng-template>
      <div class="form-item">
        <app-select
          formControlName="operationMode"
          [selectParameters]="(stepperParameters$ | ngrxPush).selects.operationMode">
        </app-select>
      </div>
      <div class="form-item"></div>
      <div class="form-item">
        <app-button (click)="stepper.previous()" [buttonParameters]="(stepperParameters$ | ngrxPush).buttons.previous"></app-button>
        <app-button [buttonParameters]="(stepperParameters$ | ngrxPush).buttons.send"
                    (click)="sendUserSignUpData()"></app-button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
