@import "variables";

@mixin setFontParams($fontFamily, $fontStyle, $fontWeight, $lineHeight) {
  font-family: $fontFamily;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

@mixin setButtonSize($lineHeight, $fontSize) {
  line-height: $lineHeight;
  font-size: $fontSize;
}
