// Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

$fontRaleway: 'Raleway', sans-serif;  // main
$fontWorkSans: 'Work Sans', sans-serif; // error
$fontRajdhani: 'Rajdhani', sans-serif; // title

// Colors
$red: #FF0707; // errors
$redRibbon: #F31D42; // text color
$crimson: #E81C3F; // button background
$cardinal: #B91C37; // button hover background
$white: #FFFFFF; // text color
$nobel: #B7B7B7;
$brightGray: #EFEFEF;
$delta: #A9A9A8; // link more color
$gray: #828282; // disabled buttons
$dimGray: #696969;
$tundora: #4B4949;
$mineShaft: #2D2C2C;
$codGray: #1E1D1D;
$codGrayMiddle: #151515;
$codGrayStrong: #121212;
$black: #000000;
$malibu: #62A9FF; // focus elements
$creamCan: #F1D261; // link color
$goldTips: #E2B515; // horizontal Line color stepper
$semiError: #F9B60C; //sun
$green: #376626;

$goldGradient: linear-gradient(164.88deg, #E07504 41.53%, #E07504 41.54%, #FBDF15 79.69%, #FFFFFF 112.9%);
$goldGradientVertical: linear-gradient(0deg, rgba(251,223,21,1) 33%, rgba(224,117,4,1) 66%, rgba(224,117,4,1) 100%);
$goldTextGradient: linear-gradient(180deg, hsla(31, 96%, 45%, 1) 0%, hsla(31, 96%, 45%, 1) 31%, hsla(53, 97%, 53%, 1) 100%);

// ============================= Buttons =============================================
// Line Height
$bigButtonLineHeight: 75px;
$mediumButtonLineHeight: 55px;
$smallButtonLineHeight: 24px;

// Font Size
$bigButtonFontSize: 24px;
$mediumButtonFontSize: 16px;
$smallButtonFontSize: 14px;

// Padding && Margin
$bigButtonPadding: 0 115px;
$mediumButtonPadding: 0 85px;
$smallButtonPadding: 5px 40px;

// ================== Form Elements (Inputs, Textarea, Select, Checkbox) =============
// Line Height
$labelLineHeight: 16px;
$inputErrorLineHeight: 24px;

// Font Size
$labelFontSize: 16px;
$inputErrorFontSize: 14px;
$inputFontSize: 16px;

// Padding && Margin
$inputMoneyPadding: 20px 22px;
$inputPadding: 23px 28px;
$textAreaPadding: 13px 22px;

// ====================================== Landing ====================================
// Line Height
$landingTitleLineHeight: 75px;
$titleLineHeight: 40px;
$subTitleLineHeight: 24px;
$textLineHeight: 16px;
// Font Size
$landingMainTitleFontSize: 90px;
$sectionTitleFontSize: 56px;
$bigTitleFontSize: 30px;
$mediumTitleFontSize: 28px;
$titleFontSize: 24px;
$bigTextFontSize: 16px;
$smallTextFontSize: 14px;
