<section class="personal">
  <div class="personal__header personal-room-item-header text-white text-uppercase">
    PERSONAL and security
  </div>

  <div class="personal__body personal-room-item-body">

  </div>
</section>

<section class="qr-code">
  <div class="qr-code__header personal-room-item-header text-white text-uppercase">
    qr-code
  </div>

  <div class="qr-code__body personal-room-item-body">

  </div>
</section>

<section class="delete-account">
  <div class="delete-account__header personal-room-item-header text-white text-uppercase">
    delete account
  </div>

  <div class="delete-account__body personal-room-item-body">
    <app-button [buttonParameters]="securityConfig.buttons.deleteAccount"></app-button>
  </div>
</section>

<app-button [buttonParameters]="securityConfig.buttons.edit"></app-button>
<app-button [buttonParameters]="securityConfig.buttons.editEmpty"></app-button>
<app-button [buttonParameters]="securityConfig.buttons.deleteAccount"></app-button>
<app-button [buttonParameters]="securityConfig.buttons.deletePhoto"></app-button>
<app-button [buttonParameters]="securityConfig.buttons.upload"></app-button>
