<input class="hidden" #input type="text">

<label class="text-white">Enter Google Authenticator code</label>
<div class="input-auth" [formGroup]="authenticationGroup">
  <div *ngFor="let item of getControls().controls; index as i" class="input-auth-item">
    <input
      #input
      type="text"
      [formControl]="item"
      maxlength="1"
      (focusin)="focusIn($event)"
      (focusout)="focusOut($event)"
      (input)="change(i+1)"
      (keydown)="keyDetection($event, i+1)"
      (click)="setSelectionStart($event)">
  </div>
</div>

<input class="hidden" #input type="text">
