@import "src/assets/scss/mixins";

.home {
  section {
    border-radius: 9px;
    overflow: hidden;
    margin-bottom: 11px;
    width: 100%;
  }

  .section:last-child {
    margin-bottom: 0;
  }
}


// =================================================== Personal ============================================
.personal {
  width: 100%;

  &__body {
    display: flex;
    justify-content: space-between;

    .body__user {
      display: flex;
      align-items: center;

      .user-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 116px;
        min-height: 116px;
        border-radius: 50%;
        background: $mineShaft;
        margin-right: 22px;

        img {
          max-width: 116px;
          max-height: 116px;
          border-radius: 50%;
        }
      }

      .user-name {
        display: flex;
        flex-direction: column;
        @include setFontParams($fontRaleway, normal, 400, $subTitleLineHeight);
        font-size: $titleFontSize;

        span {
          margin-bottom: 10px;
        }
      }
    }

    .body__info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: $bigTextFontSize;

      .info-phone {
        span:first-child {
          @include setFontParams($fontRaleway, normal, 500, $subTitleLineHeight);
          margin-right: 75px;
        }

        span:last-child {
          @include setFontParams($fontWorkSans, normal, 400, $textLineHeight);
        }
      }

      .info-email {
        span:first-child {
          @include setFontParams($fontRaleway, normal, 500, $subTitleLineHeight);
          margin-right: 75px;
        }

        span:last-child {
          @include setFontParams($fontWorkSans, normal, 400, $textLineHeight);
        }
      }
    }
  }
}

// ================================================ Description ==========================================

.description {

  &__header {
    position: relative;

    .description-edit {
      position: absolute;
      top: 23px;
      right: 20px;
      text-transform: capitalize;
    }
  }

  &__body {
      @include setFontParams($fontRaleway, normal, 200, $subTitleLineHeight);
      font-size: $smallTextFontSize;
  }
}

// =================================================== Skills ============================================
.skills {
  &__body-item {
    display: flex;
    justify-content: space-between;
    @include setFontParams($fontRaleway, normal, 500, $subTitleLineHeight);
    font-size: $smallTextFontSize;
    margin-bottom: 45px;
  }

  &__body-item:last-child {
    margin-bottom: 0;
  }
}

// =================================================== Experience ============================================

.experience {
  &__body {
    app-progress-card:first-child {
      display: block;
      border-top: 1px solid $gray;
      padding-top: 40px;
    }
  }
}

// =================================================== Education ============================================

.education {

  &__header {
    position: relative;

    app-button {
      position: absolute;
      top: 20px;
      right: 20px;
      text-transform: none;
    }
  }

  &__body {
    app-progress-card:first-child {
      display: block;
      border-top: 1px solid $gray;
      padding-top: 40px;
    }
  }
}
