<div class="home" *ngrxLet="personalRoomData as userData">

  <section class="personal">
    <div class="personal__header personal-room-item-header text-white text-uppercase">
      Personal Room
    </div>

    <div class="personal__body personal-room-item-body">
      <div class="body__user">
        <div class="user-photo">
          <img [src]="userData.personal.photo" alt="user-photo">
        </div>
        <div class="user-name">
          <span class="text-uppercase text-white">{{ userData.personal.firstName }}</span>
          <span class="text-uppercase text-white">{{ userData.personal.lastName }}</span>
        </div>
      </div>
      <div class="body__info">
        <div class="info-phone">
          <span class="text-white">Phone: </span><span class="text-gray">{{ userData.personal.phone }}</span>
        </div>
        <div class="info-email">
          <span class="text-white">E-mail: </span><span class="text-gray">{{ userData.personal.email }}</span>
        </div>
      </div>
    </div>
  </section>

  <section class="skills">
    <div class="skills__header personal-room-item-header text-white text-uppercase">
      Hard Skills
    </div>

    <div class="skills__body personal-room-item-body">
      <div class="skills__body-item" *ngFor="let skill of userData.skills">
        <span class="text-white text-uppercase">{{ skill.name }}</span>
        <app-skill-grade [skillGradeValue]="skill.mark"></app-skill-grade>
      </div>
    </div>
  </section>

  <section class="experience">
    <div class="experience__header personal-room-item-header text-white text-uppercase">
      Experience
    </div>

    <div class="experience__body personal-room-item-body">

      <app-progress-card
        [type]="EProgressType.Experience"
        *ngFor="let experience of userData.experiences"
        [view]="EProgressCardView.Static"
        [progressCardData]="experience">
      </app-progress-card>

    </div>
  </section>

  <section class="language">
    <div class="language__header personal-room-item-header text-white text-uppercase">
      Language
    </div>

    <div class="language__body personal-room-item-body">
      <app-language></app-language>
    </div>
  </section>

  <section class="education">
    <div class="education__header personal-room-item-header text-white text-uppercase">
      Education

      <app-button
        *ngIf="educationFormArray.value.length < 10"
        (click)="openAddProgressModal()"
        [buttonParameters]="homeConfig.buttons.add">
      </app-button>
    </div>

    <div class="education__body personal-room-item-body">

      <app-progress-card *ngFor="let education of this.educationFormArray.value; index as i"
                         [id]="i"
                         [type]="EProgressType.Education"
                         [view]="EProgressCardView.Edit"
                         [progressCardData]="education"
                         (editProgressModal)="openEditProgressModal($event)"
                         (removeProgressModal)="openRemoveProgressModal($event)">
      </app-progress-card>
    </div>
  </section>

</div>
