@import "src/assets/scss/mixins";

.chips-input{
  display: flex;
  align-items: flex-end;
  app-search-input{
    flex: 1 0 auto;
    margin-right: 10px;
  }
  margin-bottom: 32px;
}

.chips-list {
  max-width: 769px;
}

::ng-deep {
  .mat-chip-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  mat-chip {
    justify-content: center;
  }

  mat-chip.mat-standard-chip.mat-chip-selected {
    background: linear-gradient($codGray, $codGray) padding-box,
    $goldGradient border-box;
    border: 1px solid transparent;

    .chips-content {
      background: $goldTextGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include setFontParams($fontRaleway, normal, 600, $textLineHeight);
      font-size: $smallTextFontSize;
    }

    .chips-remove {
      position: absolute;
      right: 15px;
    }
  }

  .mat-chip.mat-standard-chip {
    background: #2D2C2C;
    border: 0.5px solid #5E5A5A;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 9px 40px;
    flex: 1 0 auto;

    .chips-content {
      color: $white;
      @include setFontParams($fontRaleway, normal, 300, $textLineHeight);
    }
  }
}
