@import "src/assets/scss/mixins";

.chips-list {
  max-width: 769px;
}

::ng-deep {
  .mat-chip-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  mat-chip {
    justify-content: center;
  }

  mat-chip.mat-standard-chip.mat-chip-selected {
    background: linear-gradient($pageBackground, $pageBackground) padding-box,
    $borderGradient border-box;
    border: 1px solid transparent;

    .chips-content{
      background: $textGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include setFontParams($fontFamily, normal, 600, 16px);
      font-size: 14px;
    }


    span.chips-remove {
      position: absolute;
      right: 15px;
      display: inline-block;
      width: 12px;
      height: 12px;
      background: url("/assets/img/close.svg") center center no-repeat;
      background-size: contain;
    }
  }

  .mat-chip.mat-standard-chip {
    background: #2D2C2C;
    border: 0.5px solid #5E5A5A;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 9px 40px;
    flex: 1 0 auto;

    .chips-content{
      color: $white;
      @include setFontParams($fontFamily, normal, 300, 16px);
      font-size: 14px;
    }
  }
}
