section.works-comment {
  border-radius: 9px;
  overflow: hidden;
  margin-bottom: 11px;
  width: 100%;
}

section.works-comment:last-child {
  margin-bottom: 0;
}

.works-comment {
  &__header {
    position: relative;

    app-button {
      text-transform: none;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  &__body {
    padding: 25px 70px 45px 70px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 10px;
  }
}

.works-comment-add {
  &__item {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;

    app-input {
      width: 100%;
    }

  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__body {
    padding: 25px 150px 45px 150px;
  }
}


:host ::ng-deep {

  .mat-expansion-panel {
    background: transparent;
  }

  .mat-expansion-panel-body {
    width: 100%;
    padding: 0;
  }
}
