<section class="personal-edit-password">
  <div class="personal-edit-password__header personal-room-item-header text-white text-uppercase">
    enter your new password
  </div>

  <div class="personal-edit-password__body personal-room-item-body">
    <form action="" [formGroup]="newPasswordGroup">
      <div class="body-item">
        <app-input
          formControlName="confirmPassword"
          [control]="newPasswordGroup.controls.confirmPassword"
          [inputParameters]="securityEditConfig.inputs.confirmPassword">
        </app-input>
      </div>
      <div class="body-item">
        <app-input
          formControlName="newPassword"
          [control]="newPasswordGroup.controls.newPassword"
          [inputParameters]="securityEditConfig.inputs.newPassword">
        </app-input>
      </div>
      <div class="body-item">
        <app-button
          (click)="cancelChangePassword()"
          [buttonParameters]="securityEditConfig.buttons.cancel">
        </app-button>
        <app-button
          (click)="confirmNewPassword()"
          [buttonParameters]="securityEditConfig.buttons.confirm">
        </app-button>
      </div>
    </form>
  </div>
</section>
