:host {
  section {
    border-radius: 9px;
    overflow: hidden;
    margin-bottom: 11px;
    width: 100%;
  }

  .section:last-child {
    margin-bottom: 0;
  }
}

.personal-edit-password {
  &__body {
    padding: 25px 240px 60px 240px;

    .body-item:last-child {
      display: flex;
      justify-content: space-evenly;
      margin-top: 72px;
    }
  }
}
