<button *ngIf="_buttonParameters.view === EButtonView.Big"
        [type]="_buttonParameters.type"
        [disabled]="_buttonParameters.disabled"
        class="btn btn__big">
  {{_buttonParameters.text}}
</button>
<!--<button *ngIf="_buttonParameters.view === EButtonView.Medium"-->
<!--        [type]="_buttonParameters.type"-->
<!--        [disabled]="_buttonParameters.disabled"-->
<!--        class="btn btn__big">-->
<!--  {{_buttonParameters.text}}-->
<!--</button>-->
<!--<button *ngIf="_buttonParameters.view === EButtonView.Small"-->
<!--        [type]="_buttonParameters.type"-->
<!--        [disabled]="_buttonParameters.disabled"-->
<!--        class="btn btn__big">-->
<!--  {{_buttonParameters.text}}-->
<!--</button>-->
<button class="btn btn__medium">Next</button>
<button class="btn btn__medium" disabled>Save</button>
<button class="btn btn__small">Accept</button>
