@import "src/assets/scss/variables";

.arrow-down {
  svg g path, svg circle{
    transition: 0.5s all ease;
  }
}

.arrow-down:hover {
  svg g path {
    fill: $brightGray;
    transition: 1s all ease;
  }

  svg circle {
    stroke: $brightGray;
    transition: 1s all ease;
  }
}
