<div class="language-modal">
  <div class="language-modal__header">
    <h2>deletion</h2>
    <app-button [buttonParameters]="deleteLanguageConfig.buttons.close" [mat-dialog-close]="false"></app-button>
  </div>
  <div class="language-modal__body">
    <div class="body__content">
      Are you sure you want to delete a language?
    </div>
    <div class="body__control">
      <app-button [buttonParameters]="deleteLanguageConfig.buttons.decline" [mat-dialog-close]="false"></app-button>
      <app-button [buttonParameters]="deleteLanguageConfig.buttons.accept" [mat-dialog-close]="true"></app-button>
    </div>
  </div>
</div>
