<div class="selection-help-modal">
  <div class="selection-help__header">
    <h2>selection help</h2>
    <app-button [buttonParameters]="selectionHelpConfig.buttons.close" [mat-dialog-close]="false"></app-button>
  </div>
  <div class="selection-help__body">
    <div class="body__content text-uppercase">
      If you need account manager help for recruiting developers, click “accept”
    </div>
    <div class="body__control">
      <app-button [buttonParameters]="selectionHelpConfig.buttons.decline" [mat-dialog-close]="false"></app-button>
      <app-button [buttonParameters]="selectionHelpConfig.buttons.accept" [mat-dialog-close]="true"></app-button>
    </div>
  </div>
</div>
