<!--<app-loader></app-loader>-->
<app-header></app-header>
<hr>
<app-language></app-language>
<hr>
<app-project-card [projectCardParameters]="obgProjectCardParameters.free"></app-project-card>
<br>
<br>
<br>
<app-project-card [projectCardParameters]="obgProjectCardParameters.development"></app-project-card>
<br>
<br>
<br>
<app-project-card [projectCardParameters]="obgProjectCardParameters.completed"></app-project-card>
<hr>
<app-user-card [userCardParameters]="objUserCardParameters.freelancer"></app-user-card>
<app-user-card [userCardParameters]="objUserCardParameters.productOwner"></app-user-card>
<hr>
<app-navigation [navigationParameters]="objNavigationParameters"></app-navigation>
<hr>
<app-button [buttonParameters]="objButtonParameters.add"></app-button>
<app-button [buttonParameters]="objButtonParameters.edit"></app-button>
<app-button [buttonParameters]="objButtonParameters.editEmpty"></app-button>
<app-button [buttonParameters]="objButtonParameters.delete"></app-button>
<app-button [buttonParameters]="objButtonParameters.deleteEmpty"></app-button>
<app-button [buttonParameters]="objButtonParameters.download"></app-button>
<app-button [buttonParameters]="objButtonParameters.gradient"></app-button>
<app-button [buttonParameters]="objButtonParameters.closeFill"></app-button>
<app-button [buttonParameters]="objButtonParameters.small"></app-button>
<hr>
<h1 [style.fontSize]="'37px'"  [style.fontWeight]="'700'" [style.fontFamily]="'Rajdhani'"  class="text-outline">40 USD</h1>
<h1 [style.fontSize]="'84px'"  [style.fontWeight]="'600'" [style.fontFamily]="'Rajdhani'"  class="text-outline-gradient">$ 330</h1>
<h1 class="text-gradient">$40.00/hr</h1>
<h1 class="text-yellow">$1000.00/mth</h1>
<h1 class="text-yellow text-underline">$1000.00/mth</h1>
<h1 class="text-error">Please, enter required data</h1>
<h1 class="text-ribbon">Close</h1>
<h1 class="text-uppercase text-white">delete the acc</h1>
<h1 class="text-uppercase text-gray">delete the acc</h1>
<hr>
<app-skill-grade [skillGradeValue]="skillGradeParameters"></app-skill-grade>
<hr>
<app-stepper></app-stepper>
<hr>
<!--<app-search-input [searchInputParameters]="objSearchInputParameters.big"></app-search-input>-->
<hr>
<!--<app-chips [chipsValues]="arrChipsElements"></app-chips>-->
<app-chips></app-chips>
<hr>
<app-progress></app-progress>
<hr>
<app-logo [logoParameters]="objLogoParameters.big"></app-logo>
<app-logo [logoParameters]="objLogoParameters.small"></app-logo>
<app-logo [logoParameters]="objLogoParameters.empty"></app-logo>
<app-logo [logoParameters]="objLogoParameters.loader"></app-logo>
<hr>
<app-button [appTooltip]="tooltipParameters"
            [buttonParameters]="objButtonParameters.big"
(click)="tooltipShow()">
</app-button>
<app-button [buttonParameters]="objButtonParameters.medium"></app-button>
<app-button [buttonParameters]="objButtonParameters.disable"></app-button>
<app-button [buttonParameters]="objButtonParameters.smallFill"></app-button>
<app-button [buttonParameters]="objButtonParameters.smallEmpty"></app-button>
<app-button [buttonParameters]="objButtonParameters.login"></app-button>
<app-button [buttonParameters]="objButtonParameters.signUp"></app-button>
<app-button [buttonParameters]="objButtonParameters.smallEmptyBorder"></app-button>
<hr>
<!--<app-input [inputParameters]="objInputParameters.email"></app-input>-->
<!--<app-input [inputParameters]="objInputParameters.text"></app-input>-->
<!--<app-input [inputParameters]="objInputParameters.password"></app-input>-->
<!--<app-input [inputParameters]="objInputParameters.textarea"></app-input>-->
<hr>
<app-arrow-down></app-arrow-down>
<hr>
<app-button-toggle></app-button-toggle>
<hr>
<app-preview-card [previewCardParameters]="objPreviewCardParameters.developer"></app-preview-card>
<app-preview-card [previewCardParameters]="objPreviewCardParameters.productOwner"></app-preview-card>
<hr>
<app-landing-guide [landingGuideParameters]="arrLandingGuideParameters"></app-landing-guide>
<hr>
<app-benefits-card [benefitsCardParameters]="objBenefitsCardParameters"></app-benefits-card>
<hr>
<!--<app-select [selectParameters]="objSelectParameters"></app-select>-->
<hr>
<app-social-list [iconParameters]="arrSocialListParameters"></app-social-list>
<hr>
<app-role-toggle></app-role-toggle>
<hr>
<!--<app-checkbox [checkboxParameters]="objCheckboxParameters"></app-checkbox>-->
<hr>
<app-preview-project-card [previewProjectCardParameters]="objPreviewProjectCardParameters.developer"></app-preview-project-card>
<app-preview-project-card [previewProjectCardParameters]="objPreviewProjectCardParameters.productOwner"></app-preview-project-card>
<hr>
<app-footer></app-footer>
