<app-header></app-header>

<div class="container">

  <section class="landing-fullscreen">

    <app-button-toggle></app-button-toggle>

    <h1 [@animateText]="'start'" class="fullscreen-title">
      {{ (landingData$ | ngrxPush).fullscreen.title }}
    </h1>
    <h3 class="fullscreen-subtitle">
      {{ (landingData$ | ngrxPush).fullscreen.subtitle }}
    </h3>

    <app-button [buttonParameters]="(landingData$ | ngrxPush).fullscreen.button"></app-button>

    <app-arrow-down></app-arrow-down>

  </section>

  <section class="landing-benefits">
    <h2 class="benefits-title">
      Why choose <span>ITOP1000</span>?
    </h2>

    <div class="benefits-cards">
      <div *ngFor="let card of (landingData$ | ngrxPush).benefits.cards" class="cards-item">
        <app-benefits-card [benefitsCardParameters]="card"></app-benefits-card>
      </div>
    </div>
  </section>

  <section class="landing-guide">
    <app-landing-guide [landingGuideParameters]="(landingData$ | ngrxPush).guide"></app-landing-guide>
  </section>

  <section class="landing-top">
    <h2 class="top-title">
      {{ (landingData$ | ngrxPush).top.title }}
    </h2>

    <div class="top-cards">
      <div *ngFor="let card of (landingData$ | ngrxPush).top.cards" class="cards-item">
        <app-preview-card [previewCardParameters]="card"></app-preview-card>
      </div>
    </div>

    <div class="top-see-all">
      <a [routerLink]="[(landingData$ | ngrxPush).top.seeAllLink.href]">
        {{ (landingData$ | ngrxPush).top.seeAllLink.text }}
      </a>
    </div>
  </section>

  <section class="landing-top-project">
    <h2 class="top-project-title">
      {{ (landingData$ | ngrxPush).topProject.title }}
    </h2>

    <div class="top-project-cards">
      <div *ngFor="let card of (landingData$ | ngrxPush).topProject.cards" class="cards-item">
        <app-project-card [projectCardParameters]="card"></app-project-card>
      </div>
    </div>

    <div class="top-project-see-all">
      <a [routerLink]="[(landingData$ | ngrxPush).topProject.seeAllLink.href]">
        {{ (landingData$ | ngrxPush).topProject.seeAllLink.text }}
      </a>
    </div>
  </section>

  <section *ngIf="(landingData$ | ngrxPush).description" class="landing-description">
    <h3 class="description-title">
      <span>ITOP1000</span> – {{ (landingData$ | ngrxPush).description.title }}
    </h3>
    <div class="description-body">
      <div class="description-item" *ngFor="let item of (landingData$ | ngrxPush).description!.contentItems">
        <div class="description-item-title">
          {{ item.title }}
        </div>
        <div class="description-item-content">
          {{ item.description }}
        </div>
      </div>
    </div>

    <app-button [buttonParameters]="(landingData$ | ngrxPush).description!.button"></app-button>
  </section>

</div>

<app-footer></app-footer>
