@import "src/assets/scss/mixins";

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.landing-fullscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 145px;

  .fullscreen-title {
    @include setFontParams($fontRajdhani, normal, 700, $landingTitleLineHeight);
    font-size: $landingMainTitleFontSize;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    margin-top: 52px;
  }

  .fullscreen-subtitle {
    @include setFontParams($fontRaleway, normal, 300, $landingTitleLineHeight);
    font-size: $bigTitleFontSize;
    text-align: center;
    color: $white;
  }

  app-button {
    margin: 57px 0 95px 0;
  }
}

.landing-benefits {
  margin-bottom: 183px;

  .benefits-title {
    @include setFontParams($fontWorkSans, normal, 700, $titleLineHeight);
    font-size: $sectionTitleFontSize;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 74px;

    span {
      color: $redRibbon;
    }
  }

  .benefits-cards {
    display: flex;
    flex-wrap: wrap;

    .cards-item {
      margin-top: 40px;
      width: 33.333%;
    }
  }
}

.landing-guide {
  margin-bottom: 183px;
}

.landing-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 183px;

  .top-title {
    @include setFontParams($fontWorkSans, normal, 700, $titleLineHeight);
    font-size: $sectionTitleFontSize;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 74px;
  }

  .top-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .cards-item {
      margin-top: 96px;
      width: 25%;
      display: flex;
      justify-content: center;
    }
  }
}

.landing-top-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 183px;

  .top-project-title {
    @include setFontParams($fontWorkSans, normal, 700, $titleLineHeight);
    font-size: $sectionTitleFontSize;
    text-align: center;
    text-transform: uppercase;
    color: $white;
  }

  .top-project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .cards-item {
      margin-top: 105px;
      width: 25%;
      display: flex;
      justify-content: center;
    }
  }
}

.landing-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  margin-bottom: 81px;

  .description-title {
    @include setFontParams($fontWorkSans, normal, 600, $landingTitleLineHeight);
    font-size: $sectionTitleFontSize;
    text-align: center;
    margin-bottom: 64px;

    span {
      color: $redRibbon;
    }
  }

  .description-body {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 81px;

    .description-item {
      max-width: 600px;
    }

    .description-item-title {
      @include setFontParams($fontRaleway, normal, 500, $titleLineHeight);
      font-size: $mediumTitleFontSize;
      margin-bottom: 20px;
    }

    .description-item-content {
      @include setFontParams($fontRaleway, normal, 300, $titleLineHeight);
      font-size: $titleFontSize;
    }
  }
}
