<section class="personal-edit-password">

  <div class="personal-edit-password__body personal-room-item-body">
    <div class="body-title text-uppercase text-white">congratulations!</div>
    <div class="body-text text-white">Your password has been successfully changed</div>
    <div class="body-link">
      <a class="text-yellow text-underline"
         (click)="resetEditPasswordStepper()"
        [routerLink]="['/personal-room/home']">
        Go to the personal room
      </a>
    </div>
  </div>
</section>

