.projects {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;

    .header-item {
      display: flex;
      align-items: center;

      app-search-input {
        width: 100%;
      }
    }

    .header-item:first-child {
      width: 60%;
    }

    .header-item:last-child {
      display: flex;
      justify-content: flex-end;
      flex: 1 0 auto;
    }
  }

  &__body {
    .body-item {
      margin-bottom: 10px;
    }

    .body-item:last-child {
      margin-bottom: 0;
    }
  }
}
