@import "src/assets/scss/mixins";

.projects-wrapper{
  section {
    border-radius: 9px;
    overflow: hidden;
    margin-bottom: 11px;
    width: 100%;
  }

  .section:last-child {
    margin-bottom: 0;
  }
}

.projects {

  section {
    border-radius: 9px;
    overflow: hidden;
    margin-bottom: 11px;
    width: 100%;
  }

  .section:last-child {
    margin-bottom: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .header-item {
      display: flex;
      align-items: center;

      app-search-input {
        width: 100%;
      }
    }

    .header-item:first-child {
      width: 60%;
    }

    .header-item:last-child {
      display: flex;
      justify-content: flex-end;
      flex: 1 0 auto;

      app-button:first-child {
        margin-right: 14px;
      }
    }
  }

  &__filtration {
    margin-bottom: 10px;
    width: 100%;

    mat-expansion-panel form{
      display: flex;
      width: 100%;
      justify-content: space-between;
      .filtration-item{

      }
    }
  }

  &__body {
    .body-item {
      margin-bottom: 10px;
    }

    .body-item:last-child {
      margin-bottom: 0;
    }
  }
}


:host ::ng-deep {
  .mat-expansion-panel {
    border-radius: 9px;
    box-shadow: none;
    background: $codGrayMiddle;

    .mat-expansion-panel-body {
      padding: 46px 57px;
      display: flex;
      justify-content: space-between;
    }
  }
}
