<div class="projects">

  <div class="projects__header">
    <div class="header-item">
      <app-search-input [searchInputParameters]="projectsConfig.inputs.search"></app-search-input>
    </div>
    <div class="header-item">
      <app-button [buttonParameters]="projectsConfig.buttons.selection"></app-button>
      <app-button [buttonParameters]="projectsConfig.buttons.filter"></app-button>
      <app-button [buttonParameters]="projectsConfig.buttons.filterClose"></app-button>
    </div>
  </div>

  <div class="projects__body">
    <div class="body-item" *ngFor="let item of projectsList">
      <app-project-card [projectCardParameters]="item"></app-project-card>
    </div>
  </div>

</div>
