<div class="form-item">
  <div class="item-label">
    <label>{{ selectParameters.label }}</label>
  </div>
  <div class="item-select">
    <mat-accordion>
      <mat-expansion-panel
        #expansionPanel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        [ngClass]="{
        opened: panelOpenState,
        closed: !panelOpenState
      }">

        <mat-expansion-panel-header>
          <mat-panel-title>

            <span [ngClass]="{
                  default: selectValue === defaultSelectValue,
                  selected: selectValue !== defaultSelectValue
            }">
            {{ value ? value : selectValue }}
            </span>

          </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-container *ngIf="selectParameters.view === EStaticDataType.Categories">
          <p *ngFor="let option of (staticData$ | ngrxPush)[selectParameters.view][userRole]"
             class="select-option"
             [attr.data-value]="option"
             (click)="setSelectValue($event)">
            {{ option }}
          </p>
        </ng-container>

        <ng-container *ngIf="selectParameters.view === EStaticDataType.SubCategories">
          <p *ngFor="let option of (staticData$ | ngrxPush)[selectParameters.view][subCategory]"
             class="select-option"
             [attr.data-value]="option"
             (click)="setSelectValue($event)">
            {{ option }}
          </p>
        </ng-container>

        <ng-container
          *ngIf="selectParameters.view !== EStaticDataType.Categories && selectParameters.view !== EStaticDataType.SubCategories">
          <p *ngFor="let option of (staticData$ | ngrxPush)[selectParameters.view]"
             class="select-option"
             [attr.data-value]="option"
             (click)="setSelectValue($event)">
            {{ option }}
          </p>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

