<header>
  <div class="header-container">
    <div class="logo">
      <app-logo [logoParameters]="headerConfig.logo"></app-logo>
    </div>
    <div class="navigation">
     <app-navigation [navigationParameters]="headerConfig.navigation"></app-navigation>
    </div>
    <div class="login">
      <app-button
        *ngIf="!statusUser"
        [buttonParameters]="headerConfig.buttons.login"></app-button>
      <app-button
        *ngIf="!statusUser"
        [buttonParameters]="headerConfig.buttons.signUp"></app-button>

      <app-button
        *ngIf="statusUser"
        [buttonParameters]="headerConfig.buttons.notification">
      </app-button>
      <app-button
        *ngIf="statusUser"
        [buttonParameters]="headerConfig.buttons.logout">
      </app-button>
    </div>
  </div>
</header>
