@import "../../../../../../../assets/scss/mixins";

::ng-deep {
  .mat-dialog-container {
    width: 495px;
    max-width: 495px;
    border-radius: 9px;
    padding: 0;
    background-color: $codGray;
    overflow: hidden;
  }
}

.experience-modal {
  &__header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background: $codGrayStrong;

    h2 {
      text-align: center;
      flex: 1 0 auto;
      @include setFontParams($fontWorkSans, normal, 500, $subTitleLineHeight);
      font-size: 16px;
      color: $white;
      text-transform: uppercase;
    }
  }

  &__body {
    padding: 0 25px;
    border-bottom: 1px solid $tundora;
  }
}

form.experience-form {
  .experience-form__item {
    display: flex;
    width: 100%;
    justify-content: space-between;

    app-input {
      width: 100%;
    }

    app-input.date{
      margin-top: 25px;
      width: 45%;
    }
  }

  .experience-form__item:nth-child(5){
    border-bottom: 1px solid $tundora;
    margin-bottom: 42px;
  }

  .experience-form__item:last-child{
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 28px;
  }
}
