@import "src/assets/scss/mixins";

.language {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  max-width: 838px;
  width: 838px;

  &__list, &__add {
    width: 50%;
  }

  &__add {
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__item-info {
    @include setFontParams($fontWorkSans, normal, 500, $subTitleLineHeight);
    font-size: $bigTextFontSize;

    span:last-child {
      font-weight: 400;
    }
  }
}
