@import "src/assets/scss/mixins";

.landing-guide {
  margin: 0 auto;
  color: $white;
  width: 1038px;
  max-width: 1038px;

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 114px;

    span {
      color: $redRibbon;
    }
  }

  ::ng-deep h2 {
    @include setFontParams($fontWorkSans, 700, bold, $titleLineHeight);
    font-size: $sectionTitleFontSize;
  }

  &__list {
    width: 100%;

    .list-item {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 48px;
    }
    .list-item:last-child{
      margin-bottom: 0;
    }

    .list-item .headline {
      border-radius: 50%;
      background: $crimson;
      width: 83px;
      height: 83px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: $white;
        @include setFontParams($fontWorkSans, 700, bold, $titleLineHeight);
        font-size: $bigTitleFontSize;
      }
    }

    .list-item .description {
      margin-left: 19px;
      .description-title {
        @include setFontParams($fontWorkSans, 400, normal, $titleLineHeight);
        font-size: $bigTitleFontSize;
      }

      .description-subtitle {
        @include setFontParams($fontWorkSans, 300, normal, $titleLineHeight);
        font-size: $mediumTitleFontSize;
        color: $gray;
      }
    }
  }
}
