<a [href]="_projectCardParameters.href">

  <div *ngIf="_projectCardParameters.role === EProjectCardView.Developer" class="project-card developer">

    <div class="project-card__img">
      <img [src]="'/assets/img/project-card/' + _projectCardParameters.img" alt="project-logo">
    </div>

    <div class="project-card__company-name">
      {{ _projectCardParameters.companyName}}
    </div>

    <div class="project-card__date">
      {{ _projectCardParameters.date | date: 'd MMMM' }}
    </div>

  </div>

  <div *ngIf="_projectCardParameters.role === EProjectCardView.ProductOwner" class="project-card owner">

    <div class="project-card__img">
      <img [src]="'/assets/img/project-card/' + _projectCardParameters.img" alt="project-logo">
    </div>
    <div class="project-card__project-name">
      {{ _projectCardParameters.projectName }}
    </div>
    <div class="project-card__company-name">
      {{ _projectCardParameters.companyName }}
    </div>
    <div class="project-card__budget">
      Budget {{ _projectCardParameters.budget }} $
    </div>

  </div>

</a>
