<div class="wrapper">
  <h1>ITOP1000 UI</h1>
</div>
<hr>
<app-button [buttonParameters]="objButtonParameters.big"></app-button>
<app-button [buttonParameters]="objButtonParameters.medium"></app-button>
<app-button [buttonParameters]="objButtonParameters.disable"></app-button>
<app-button [buttonParameters]="objButtonParameters.small"></app-button>
<app-button [buttonParameters]="objButtonParameters.login"></app-button>
<app-button [buttonParameters]="objButtonParameters.signUp"></app-button>
<hr>
<app-input [inputParameters]="objInputParameters.email"></app-input>
<app-input [inputParameters]="objInputParameters.text"></app-input>
<app-input [inputParameters]="objInputParameters.password"></app-input>
