<div class="wrapper">
  <h1>ITOP1000 UI</h1>
</div>
<hr>
<app-header></app-header>
<hr>
<app-logo [logoParameters]="objLogoParameters.big"></app-logo>
<app-logo [logoParameters]="objLogoParameters.small"></app-logo>
<app-logo [logoParameters]="objLogoParameters.empty"></app-logo>
<app-logo [logoParameters]="objLogoParameters.loader"></app-logo>
<hr>
<app-button [buttonParameters]="objButtonParameters.big"></app-button>
<app-button [buttonParameters]="objButtonParameters.medium"></app-button>
<app-button [buttonParameters]="objButtonParameters.disable"></app-button>
<app-button [buttonParameters]="objButtonParameters.small"></app-button>
<app-button [buttonParameters]="objButtonParameters.smallEmpty"></app-button>
<app-button [buttonParameters]="objButtonParameters.login"></app-button>
<app-button [buttonParameters]="objButtonParameters.signUp"></app-button>
<hr>
<app-input [inputParameters]="objInputParameters.email"></app-input>
<app-input [inputParameters]="objInputParameters.text"></app-input>
<app-input [inputParameters]="objInputParameters.password"></app-input>
<app-input [inputParameters]="objInputParameters.textarea"></app-input>
<hr>
<app-arrow-down></app-arrow-down>
<hr>
<app-button-toggle></app-button-toggle>
<hr>
<app-preview-card [previewCardParameters]="objPreviewCardParameters.developer"></app-preview-card>
<app-preview-card [previewCardParameters]="objPreviewCardParameters.productOwner"></app-preview-card>
