<div class="progress-modal">
  <div class="progress-modal__header">

    <h2 *ngIf="progressModalType === EProgressModalType.Experience">Employment</h2>
    <h2 *ngIf="progressModalType === EProgressModalType.Education">Education</h2>

    <app-button [buttonParameters]="editProgressModalConfig.buttons.close" [mat-dialog-close]="false"></app-button>
  </div>
  <div class="progress-modal__body">
    <app-edit-form-education *ngIf="progressModalType === EProgressModalType.Education">
    </app-edit-form-education>

    <app-edit-form-experience  *ngIf="progressModalType === EProgressModalType.Experience">
    </app-edit-form-experience>

  </div>
</div>
