<form action="" class="progress-form" [formGroup]="addModalFormGroup">

  <div class="progress-form__item">
    <app-input [control]="addModalFormGroup.controls.educationName"
               [inputParameters]="addProgressModalConfig.inputs.educationName"
               formControlName="educationName"></app-input>
  </div>

  <div class="progress-form__item">
    <app-input [control]="addModalFormGroup.controls.specialty"
               [inputParameters]="addProgressModalConfig.inputs.specialty"
               formControlName="specialty"></app-input>
  </div>

  <div class="progress-form__item">
    <app-input [control]="addModalFormGroup.controls.educationDescription"
               [inputParameters]="addProgressModalConfig.inputs.educationDescription"
               formControlName="educationDescription"></app-input>
  </div>

  <div class="progress-form__item">
    <app-input class="date"
               [control]="addModalFormGroup.controls.dateFrom"
               [inputParameters]="addProgressModalConfig.inputs.dateFrom"
               formControlName="dateFrom"></app-input>
    <app-input class="date"
               [control]="addModalFormGroup.controls.dateTill"
               [inputParameters]="addProgressModalConfig.inputs.dateTill"
               formControlName="dateTill"></app-input>
  </div>

  <div class="progress-form__item">
    <app-button [buttonParameters]="addProgressModalConfig.buttons.cancel"
                [mat-dialog-close]="false"></app-button>
    <app-button [buttonParameters]="addProgressModalConfig.buttons.save"
                [mat-dialog-close]="addModalFormGroup"></app-button>
  </div>
</form>
