@import "src/assets/scss/mixins";

a {
  text-decoration: none;
}

.preview-card {
  width: 232px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  cursor: pointer;
  transition: 0.5s all ease;

  &__img {
    border-radius: 50%;
    overflow: hidden;
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all ease-in-out;
    img {
      z-index: -1;
    }
  }

  &__name {
    margin-top: 5px;

    span {
      display: block;
      text-align: center;
      text-transform: uppercase;
      @include setFontParams($fontFamily, 500, normal, 36px);
      font-size: 30px;
    }
  }
}

.developer {
  height: 285px;

  .preview-card__rate {
    margin-top: 12px;

    span {
      @include setFontParams($fontError, 500, normal, 16px);
      font-size: 20px;
      background: $textGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.owner {
  height: 247px;

  .preview-card__img {
    border: 1px solid $white;
  }

  .preview-card__name {
    span {
      margin: 0 auto;
      max-width: 90%;
      word-wrap: break-word;
    }
  }
}

.preview-card:hover {
  transition: 0.5s all ease;
  color: $textPreviewCardHover;
}

.preview-card:hover .preview-card__img {
  border: 1px solid $borderPreviewCardHover;
  transition: 0.2s all ease-in-out;
  -webkit-box-shadow: inset 0px 0px 0px 5px $borderPreviewCardHover;
  box-shadow: inset 0px 0px 0px 5px $borderPreviewCardHover;
}
