@import "src/assets/scss/mixins";

.benefits-card {
  max-width: 473px;
  width: 473px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  text-align: center;
  @include setFontParams($fontWorkSans, 500, normal, $subTitleLineHeight);

  &__title {
    margin: 20px 0 10px 0;
    text-transform: uppercase;

    span {
      font-size: $titleFontSize;
    }
  }

  &__subtitle {
    padding: 0 30px;
    margin-bottom: 10px;

    span {
      font-size: $bigTextFontSize;
      font-weight: 300;
    }
  }
}
