<div class="experience-modal">
  <div class="experience-modal__header">
    <h2>Employment</h2>
  </div>
  <div class="experience-modal__body">
    <form action="" class="experience-form">
      <div class="experience-form__item">
        <app-input [inputParameters]="modalData.inputs.companyName"></app-input>
      </div>
      <div class="experience-form__item">
        <app-input [inputParameters]="modalData.inputs.jobTitle"></app-input>
      </div>
      <div class="experience-form__item">
        <app-input [inputParameters]="modalData.inputs.positionTitle"></app-input>
      </div>
      <div class="experience-form__item">
        <app-input [inputParameters]="modalData.inputs.jobDescription"></app-input>
      </div>
      <div class="experience-form__item">
        <app-input [inputParameters]="modalData.inputs.dateFrom"></app-input>
        <app-input [inputParameters]="modalData.inputs.dateTill"></app-input>
      </div>
      <div class="experience-form__item">
        <app-button [buttonParameters]="modalData.buttons.cancel"></app-button>
        <app-button [buttonParameters]="modalData.buttons.save"></app-button>
      </div>
    </form>
  </div>
</div>
