<div class="experience-modal">
  <div class="experience-modal__header">
    <h2>Employment</h2>
    <app-button [buttonParameters]="modalData.buttons.close" mat-dialog-close="false"></app-button>
  </div>
  <div class="experience-modal__body">
    <form action="" class="experience-form" [formGroup]="addModalFormGroup">
      <div class="experience-form__item">
        <app-input [inputParameters]="modalData.inputs.companyName" formControlName="companyName"></app-input>
      </div>
      <div class="experience-form__item">
        <app-input [inputParameters]="modalData.inputs.jobTitle" formControlName="jobTitle"></app-input>
      </div>
      <div class="experience-form__item">
        <app-input [inputParameters]="modalData.inputs.positionTitle" formControlName="positionTitle"></app-input>
      </div>
      <div class="experience-form__item">
        <app-input [inputParameters]="modalData.inputs.jobDescription" formControlName="jobDescription"></app-input>
      </div>
      <div class="experience-form__item">
        <app-input class="date" [inputParameters]="modalData.inputs.dateFrom" formControlName="dateFrom"></app-input>
        <app-input class="date" [inputParameters]="modalData.inputs.dateTill" formControlName="dateTill"></app-input>
      </div>
      <div class="experience-form__item">
        <app-button [buttonParameters]="modalData.buttons.cancel" mat-dialog-close="false"></app-button>
        <app-button [buttonParameters]="modalData.buttons.save" [mat-dialog-close]="addModalFormGroup"></app-button>
      </div>
    </form>
  </div>
</div>
