<div class="experience-card">
  <div class="experience-card__header">
    <h2>{{ _experienceCardData.companyName }}</h2>
    <span>{{ _experienceCardData.dateFrom | date:'MMMM y' }} - {{ _experienceCardData.dateTill | date:'MMMM y' }}</span>
  </div>
  <div class="experience-card__description">
    <div class="description-content">
      {{ _experienceCardData.jobDescription }}
    </div>
    <div class="description-control" *ngIf="view === EExperienceCardView.Edit">
      <app-button
        (click)="openRemoveExperienceModal()"
        [buttonParameters]="experienceCardConfig.buttons.delete">
      </app-button>
      <app-button
        (click)="openEditExperienceModal()"
        [buttonParameters]="experienceCardConfig.buttons.edit">
      </app-button>
    </div>
  </div>
</div>
