@import "../../../../../../../assets/scss/mixins";

.experience-card {
  color: $nobel;

  &__header {
    display: flex;
    align-items: center;

    h2 {
      @include setFontParams($fontWorkSans, normal, 500, $titleLineHeight);
      font-size: $titleFontSize;
      color: $white;
      text-transform: uppercase;
      display: inline-flex;
      margin: 0;
    }

    span {
      @include setFontParams($fontWorkSans, normal, 300, $textLineHeight);
      font-size: 12px;
      margin-left: 20px;
    }
  }

  &__description {
    display: flex;
    max-width: 100%;

    .description-content {
      @include setFontParams($fontWorkSans, normal, 400, $subTitleLineHeight);
      font-size: 16px;
      margin-right: 10px;
    }

    .description-control {
      display: flex;

      app-button:first-child {
        margin-right: 10px;
      }
    }
  }

  padding-bottom: 48px;
  border-bottom: 1px solid $tundora;
}
