@import "src/assets/scss/mixins";

:host {
  display: block
}

.tooltip {
  background-color: $creamCan;
  color: $black;
  padding: 21px 41px;
  border-radius: 9px;
  max-width: 374px;
  @include setFontParams($fontRaleway, 300, normal, $subTitleLineHeight);
  font-size: $smallTextFontSize;
  position: relative;

  &__content {
    display: flex;
  }

  &__text {
    text-align: center;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
  }

  &__link {
    display: flex;
    justify-content: center;

    button {
      cursor: pointer;
      text-decoration: underline;
      color: $black;
      background: transparent;
      border: none;
    }
  }

}

.tooltip::after {
  position: absolute;
  content: '';
  border: 20px solid transparent;
  border-top: 20px solid $creamCan;
  margin-top: 20px;
  margin-left: calc(50% - 61px);
}
