<div class="tooltip" @tooltip>
  <div class="tooltip__content">
    <div class="tooltip__icon">
      <img src="/assets/img/tooltip.svg" alt="tooltip-icon">
    </div>
    <div class="tooltip__text">
      {{ tooltipParameters.text }}
    </div>
    <div class="tooltip__close">
      <img class="tooltip__close-icon" src="/assets/img/tooltip-close.svg" alt="tooltip-close-icon">
    </div>
  </div>
  <div *ngIf="tooltipParameters.link" class="tooltip__link" >
    <button (click)="openRequirementsModal()">{{ tooltipParameters.link }}</button>
  </div>
</div>
