@import "../../../../../assets/scss/mixins";

.social-list {
  display: inline-flex;

  &__item {
    cursor: pointer;
    margin-right: 19px;
    width: 42px;
    height: 42px;

    mat-icon {
      width: 100%;
      height: 100%;
    }
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__item:hover svg {
    circle {
      stroke: $creamCan;
    }

    path {
      fill: $creamCan;
    }
  }
}
