<section class="personal-edit-password">
  <div class="personal-edit-password__header personal-room-item-header text-white text-uppercase">
    edit Password
  </div>

  <div class="personal-edit-password__body personal-room-item-body">
    <form action="" [formGroup]="confirmPasswordGroup" (submit)="onSubmit()">
      <div class="body-item">
        <div class="item-input">
          <app-input
            formControlName="currentPassword"
            [control]="confirmPasswordGroup.controls.currentPassword"
            [inputParameters]="securityEditConfig.inputs.currentPassword">
          </app-input>
          <a href="">Forgot password?</a>
        </div>
        <div class="item-input">
          <app-input
            formControlName="newPassword"
            [control]="confirmPasswordGroup.controls.newPassword"
            [inputParameters]="securityEditConfig.inputs.newPassword">
          </app-input>
        </div>
      </div>
      <div class="body-item">
        <app-button
          (click)="cancelChangePassword()"
          [buttonParameters]="securityEditConfig.buttons.back">
        </app-button>
        <app-button
          [buttonParameters]="securityEditConfig.buttons.confirm">
        </app-button>
      </div>
    </form>
  </div>
</section>

