@import "src/assets/scss/mixins";

:host {
  section {
    border-radius: 9px;
    overflow: hidden;
    margin-bottom: 11px;
    width: 100%;
  }

  .section:last-child {
    margin-bottom: 0;
  }
}

.body-item {
  display: flex;
  justify-content: space-between;

  .item-input {
    width: 45%;
    position: relative;

    a {
      position: absolute;
      right: 0;
      bottom: 0;
      color: $gray;
    }
  }
}

.body-item:last-child{
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}
