@import "src/assets/scss/mixins";

.modal-select-role{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $codGray;
  padding: 40px 69px;
  &__title{
    h2{
      @include setFontParams($fontRaleway, normal, 300, $titleLineHeight);
      font-size: $titleFontSize;
      background: $goldTextGradient;
      text-align: center;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__body{
    margin: 46px 0;
  }
}


::ng-deep{
  .mat-dialog-container{
    padding: 0;
    border-radius: 20px;
    background: transparent;
  }
  .cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.72);
  }
}
