<div class="work-experience">
  <div class="work-experience__header">
    <div class="work-experience__title">
      <h2 class="title-experience">Work Experience</h2>
    </div>
    <div class="work-experience__control">
      <button (click)="openAddExperienceModal()" class="add-experience"></button>
    </div>
  </div>
  <div class="work-experience__body">
    <div class="work-experience__item" *ngFor="let item of this.experienceGroup.value">
      <app-experience-card [experienceCardData]="item"></app-experience-card>
    </div>
  </div>
</div>
