<div class="form-item">
  <div class="item-label">
    <label>{{ _inputParameters.label }}</label>
  </div>
  <div [ngClass]="{
        'item-input': _inputParameters.type !== EInputElementType.TextArea,
        'item-textarea': _inputParameters.type === EInputElementType.TextArea
  }">
    <input *ngIf=" _inputParameters.type === EInputElementType.Email"
           class=""
           [type]="_inputParameters.type"
           [placeholder]="_inputParameters.placeholder"
           (input)="change($event)"
           [value]="value"
           [disabled]="disableState">

    <input *ngIf=" _inputParameters.type === EInputElementType.Password"
           class=""
           [type]="_inputParameters.type"
           [placeholder]="_inputParameters.placeholder"
           (input)="change($event)"
           [value]="value"
           [disabled]="disableState">

    <input *ngIf=" _inputParameters.type === EInputElementType.Text"
           class=""
           [type]="_inputParameters.type"
           [placeholder]="_inputParameters.placeholder"
           (input)="change($event)"
           [value]="value"
           [disabled]="disableState">

    <textarea *ngIf=" _inputParameters.type === EInputElementType.TextArea"
              class=""
              [placeholder]="_inputParameters.placeholder"
              (input)="change($event)"
              [value]="value"
              [disabled]="disableState">
    </textarea>
  </div>

  <div class="item-error">
    {{ _inputParameters.error }}
  </div>
</div>
