<div class="form-item">
  <div class="item-label">
    <label [ngClass]="{ focus: focus, invalid: invalid}">
      {{ _inputParameters.label }}
    </label>
  </div>
  <div [ngClass]="{
        'item-input': _inputParameters.type !== EInputElementType.TextArea,
        'item-textarea': _inputParameters.type === EInputElementType.TextArea,
        focus: focus,
        invalid: invalid
  }">
    <input *ngIf=" _inputParameters.type === EInputElementType.Email"
           class=""
           [type]="_inputParameters.type"
           [placeholder]="_inputParameters.placeholder"
           (input)="change($event)"
           [value]="value"
           [disabled]="disableState"
           (focusin)="focus = true"
           (focusout)="focus = false">

    <input *ngIf=" _inputParameters.type === EInputElementType.Password"
           class=""
           [type]="_inputParameters.type"
           [placeholder]="_inputParameters.placeholder"
           (input)="change($event)"
           [value]="value"
           [disabled]="disableState"
           (focusin)="focus = true"
           (focusout)="focus = false">

    <input *ngIf=" _inputParameters.type === EInputElementType.Text"
           class=""
           type="text"
           [placeholder]="_inputParameters.placeholder"
           (input)="change($event)"
           [value]="value"
           [disabled]="disableState"
           (focusin)="focus = true"
           (focusout)="focus = false">

    <input *ngIf=" _inputParameters.type === EInputElementType.Date"
           class=""
           type="text"
           [placeholder]="_inputParameters.placeholder"
           (input)="change($event)"
           [value]="value"
           [disabled]="disableState"
           (focusin)="focus = true"
           (focusout)="focus = false" appDateFormatCustomInput>

    <textarea *ngIf=" _inputParameters.type === EInputElementType.TextArea"
              class=""
              [placeholder]="_inputParameters.placeholder"
              (input)="change($event)"
              [value]="value"
              [disabled]="disableState"
              (focusin)="focus = true"
              (focusout)="focus = false">
    </textarea>
  </div>

  <div class="item-error">
    <span *ngIf="invalid">{{ _inputParameters.error }}</span>
  </div>
</div>
