<div class="language-modal">
  <div class="language-modal__header">
    <h2>Add Language</h2>
    <app-button [buttonParameters]="addLanguageModalConfig.buttons.close" [mat-dialog-close]="false"></app-button>
  </div>
  <div class="language-modal__body">
    <form action="" class="language-form" [formGroup]="addModalFormGroup">
      <div class="language-form__item">
        <app-select
          [selectParameters]="addLanguageModalConfig.selects.language"
          formControlName="language"></app-select>
      </div>
      <div class="language-form__item">
        <app-select
          [selectParameters]="addLanguageModalConfig.selects.proficiency"
          formControlName="proficiency"></app-select>
      </div>
      <div class="language-form__item">
        <app-button [buttonParameters]="addLanguageModalConfig.buttons.cancel"
                    [mat-dialog-close]="false"></app-button>
        <app-button [buttonParameters]="addLanguageModalConfig.buttons.save"
                    [mat-dialog-close]="addModalFormGroup"></app-button>
      </div>
    </form>
  </div>
</div>
