<div class="form-item">
  <div class="item-label">
    <label [ngClass]="{ focus: focus, invalid: invalid}">
      {{ _searchInputParameters.label }}
    </label>
  </div>
  <div class="item-input-search" [ngClass]="{
        focus: focus,
        invalid: invalid
  }">

    <input *ngIf=" _searchInputParameters.view === ESearchInputElementType.Big"
           class=""
           type="text"
           [placeholder]="_searchInputParameters.placeholder"
           (input)="change($event)"
           [value]="value"
           [disabled]="disableState"
           (focusin)="focus = true"
           (focusout)="focus = false"
           [matAutocomplete]="auto"
           formControl="myControl">

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | ngrxPush" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>

    <div class="search-icon" [ngClass]="{ focus: focus }">
      <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M18.6042 16.4167H17.4521L17.0438 16.0229C18.4729 14.3604 19.3333 12.2021 19.3333 9.85417C19.3333 4.61875 15.0896 0.375 9.85417 0.375C4.61875 0.375 0.375 4.61875 0.375 9.85417C0.375 15.0896 4.61875 19.3333 9.85417 19.3333C12.2021 19.3333 14.3604 18.4729 16.0229 17.0438L16.4167 17.4521V18.6042L23.7083 25.8813L25.8813 23.7083L18.6042 16.4167ZM9.85417 16.4167C6.22292 16.4167 3.29167 13.4854 3.29167 9.85417C3.29167 6.22292 6.22292 3.29167 9.85417 3.29167C13.4854 3.29167 16.4167 6.22292 16.4167 9.85417C16.4167 13.4854 13.4854 16.4167 9.85417 16.4167Z"
          fill="#848484"/>
      </svg>
    </div>
  </div>
</div>

