<div class="form-item">
  <div class="item-label"  *ngIf="searchInputParameters.view !== ESearchInputElementType.Medium">
    <label [ngClass]="{ focus: focus, invalid: invalid}">
      {{ searchInputParameters.label }}
    </label>
  </div>
  <div class="item-input-search" [ngClass]="{
        focus: focus,
        invalid: invalid,
        'search-medium': searchInputParameters.view === ESearchInputElementType.Medium
  }">
    <ng-container *ngIf="searchInputParameters.view === ESearchInputElementType.Big">
      <input
        class=""
        type="text"
        [placeholder]="searchInputParameters.placeholder"
        (input)="change($event)"
        [value]="value"
        (focusin)="focus = true"
        (focusout)="focus = false"
        [matAutocomplete]="auto"
        [formControl]="myControl">

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of (filteredOptions | ngrxPush)" [value]="option"
                    (click)="setInputValue(option)">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </ng-container>

    <ng-container *ngIf="searchInputParameters.view === ESearchInputElementType.Medium">
      <input
        class=""
        type="text"
        [placeholder]="searchInputParameters.placeholder"
        (input)="change($event)"
        [value]="value"
        (focusin)="focus = true"
        (focusout)="focus = false"
        [formControl]="myControl">

      <mat-icon svgIcon="search"></mat-icon>
    </ng-container>
  </div>
</div>

