<div class="user-card">
  <div class="user-card__photo">
    <img [src]="componentParameters.personal.photo" alt="user-photo">
    <div *ngIf="role === EUserCardView.Freelancer"
         class="user-card__status"
         [ngClass]="{
              free: !componentParameters.personal.isWork,
              work: componentParameters.personal.isWork
              }">
      <mat-icon *ngIf="componentParameters.personal.isWork" svgIcon="work"></mat-icon>
      <mat-icon *ngIf="!componentParameters.personal.isWork" svgIcon="free"></mat-icon>
    </div>
  </div>
  <div class="user-card__name text-uppercase text-white">
    {{ componentParameters.personal.firstName }} {{ componentParameters.personal.lastName }}
  </div>
  <div class="user-card__position text-gray text-capitalize">
    {{ componentParameters.personal.level }}
  </div>
  <div class="user-card__email text-white">
    {{ componentParameters.personal.email }}
  </div>
  <div *ngIf="role === EUserCardView.Freelancer" class="user-card__rate text-gradient">
    ${{ componentParameters.personal.rate }}.00/hr
  </div>
</div>
