<a *ngIf="_logoParameters.view !==ELogoView.Loader" [routerLink]="['/']">
  <div *ngIf="_logoParameters.view === ELogoView.Big" class="logo-container big">
    <div class="logo-image">
      <img src="/src/assets/img/big-logo-img.svg" alt="big-logo-img">
    </div>
    <div class="logo-title">
      <img src="/src/assets/img/big-logo-title.svg" alt="big-logo-title">
    </div>
  </div>

  <div *ngIf="_logoParameters.view === ELogoView.Small" class="logo-container small" (mouseleave)="rotate($event)">
    <div class="logo-image">
      <img src="/src/assets/img/small-logo-img.svg" alt="header-logo-img">
    </div>
    <div class="logo-title">
      <img src="/src/assets/img/small-logo-title.svg" alt="header-logo-title">
    </div>
  </div>

  <div *ngIf="_logoParameters.view === ELogoView.Medium" class="logo-container medium">
    <div class="logo-image">
      <img src="/src/assets/img/medium-logo-img.svg" alt="header-logo-img">
    </div>
    <div class="logo-title">
      <img src="/src/assets/img/medium-logo-title.svg" alt="header-logo-title">
    </div>
  </div>

  <div *ngIf="_logoParameters.view === ELogoView.Empty" class="logo-container empty">
    <div class="logo-image">
      <img src="/src/assets/img/medium-logo-img.svg" alt="medium-logo-img">
    </div>
  </div>
</a>

<div *ngIf="_logoParameters.view === ELogoView.Loader" class="logo-container loader">
  <div class="logo-image">
    <img src="/src/assets/img/big-logo-img.svg" alt="big-logo-img">
  </div>
</div>
